* {
  /* used to reset empty space around border set by browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-content {
  position: relative;
  top: 0;
  width: 100%;
  font-family:
    Serif Georgia,
    "Times New Roman",
    Times,
    serif;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  background-color: #0d1b2a;
  display: flex;
  align-items: center;
  gap: 5em;
  padding-left: 35%;
  border-bottom: 4px solid gold;
}

.navbar-content li a {
  color: gold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85em;
  width: auto;
  height: auto;
  padding: 1.2em 0.5em;
  display: block;
}

.nav-links {
  display: flex;
  gap: 0.4em;
}

.nav-links p {
  color: gold;
  font-size: 0.85em;
  width: 4em;
}
.navbar-content li a:hover {
  background-color: rgba(255, 217, 0, 0.308);
  border-radius: 1em;
}

.navbar-content .logo a:hover {
  background-color: transparent;
}

.logo img {
  display: block;
  float: left;
}

.dropdown {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  background-color: #15263a;
  position: absolute;
  min-width: 100px;
  border-radius: 0.3em;
}

.dropdown button {
  background-color: #0d1a279f;
  color: gold;
  padding: 1.2em 0.5em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85em;
}

.dropdown a {
  text-transform: uppercase;
  display: block;
  color: gold;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown:hover .dropdown1-content {
  display: block;
}

.banner {
  background-color: #132233;
  padding: 3em 3em;
}

.banner h1 {
  color: gold;
  font-size: 2em;
  padding-left: 20%;
}

.banner p {
  color: #6e7d8f;
  font-size: 1em;
  padding-top: 1%;
  padding-left: 20%;
}

.main-text {
  display: flex;
  align-items: flex-start;
  gap: 0.1em;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  background-color: #f5f0e8;
  padding: 2em;
}

.main-text h1 {
  margin: 0 auto;
  color: black;
  font-size: 2em;
}

.main-text p {
  margin: 0 auto;
  color: #6e7d8f;
  font-size: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
}

table {
  margin: 0 auto;
  width: 34%;
  border-radius: 1px;
  border-collapse: collapse;
}
th,
td {
  border-collapse: collapse;
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid white;
}

th {
  color: gold;
  background-color: #0d1b2a;
}
tr {
  background-color: rgb(255, 249, 249);
}

table button {
  background-color: gold;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.why-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f5f0e8;
  padding: 2em;
}

.why-text h2 {
  margin: 0 auto;
  color: black;
  font-size: 2em;
  text-decoration: underline 4px gold;
}
.why-text p {
  margin: 0 auto;
  padding: 1em;
  width: 100em;
}

.footer {
  background-color: #0d1b2a;
  padding: 5em;
  color: #6e7d8f;
  line-height: 2em;
  border-top: 3px solid gold;
}
.footer-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-row {
  display: flex;
}

.footer-item {
  width: 40%;
  margin-top: 1em;
}

.footer-item ul li {
  list-style: none;
}
.footer-item ul li a {
  text-decoration: none;
  color: #6e7d8f;
  margin-left: 0;
}
.footer-item h3 {
  color: gold;
  text-decoration: underline 1.5px gold;
}

main {
  min-height: 70vh;
  background-color: #f5f0e8;
}

.team-grid {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 10%;
  justify-content: center;
}

.customer-section h2 {
  text-align: center;
  color: black;
  font-size: 2em;
  text-decoration: underline 4px gold;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.story-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: left;
}

.story-card {
  background-color: #f5f0e8;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  flex: 60%;
}

.story-text-wrapper p {
  background-color: #e7e2da;
  color: black;
  padding: 4em;
}
